a:hover {
  text-decoration: none;
}

a:focus {
  outline: none;
}

input:focus {
  outline: none;
  border: 0;
}

body {
  font-family: "Oswald", sans-serif;
}

p,
a,
span {
  font-family: "Raleway", sans-serif;
}

.min-title {
  font-family: "Sacramento", cursive;
}

.trans-4, .scrol-box, .link-box a, .owl-carousel .owl-nav, .owl-carousel .owl-nav button i, .product-box .img-box img, .nav-section, .nav-section .nav-ul ul li.has-chiled::after, .nav-section .nav-ul ul li a, .nav-section .nav-box2 .nav-side-box i, .intro-section .intro-slider .circle-arrow, .intro-section .intro-slider .circle-arrow i, .about-section .section-img, .beauty-section .beauty-slider .beauty-slider-item::after, .beauty-section .beauty-slider .beauty-slider-item, .beauty-section .beauty-slider .beauty-slider-item .beauty-title, .beauty-section .beauty-slider .beauty-slider-item .sub-title, .beauty-section .beauty-slider .beauty-slider-item .beauty-ul li::after, .best-saling-section .list-group .list-group-item, .best-saling-section .tab-content .tab-pane, .best-saling-section .tab-content .tab-pane.active, .comment-section .comment-slider .slick-dots li, .comment-section .comment-slider .slick-dots li button, .comment-section .comment-slider .slick-dots li button:before, .blog-section .blog-slider .item .blog-box .img-box .bloge-link i, .blog-section .blog-slider .item .blog-box .blog-title, .blog-section .blog-slider .item .blog-box .read-link, .blog-section .blog-slider .item .blog-box .read-link i, .footer-section .footer-ul li, .footer-section .footer-ul li a, .copy-footer .copy-link, .copy-footer .sochile-box ul li {
  -webkit-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
}

.pad-0 {
  padding: 0;
}

.section-title .min-title {
  color: #fec500;
  font-size: 62px;
  margin: 0 0 -20px;
}

.section-title .sub-title {
  margin: 0;
  font-weight: 400;
  font-size: 38px;
  color: white;
}

.section-title .sub-title.black-title {
  color: black;
}

.section-title .prag {
  padding: 40px 0 0;
  font-style: italic;
  font-size: 20px;
  color: #999999;
  line-height: 30px;
}

.scrol-box {
  position: fixed;
  z-index: 9999999;
  bottom: 0px;
  right: 40px;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  visibility: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
  background-color: transparent;
  color: #070707;
  border: 1px solid #070707;
  border-radius: 50%;
  cursor: pointer;
}

.scrol-box:hover {
  bottom: 35px;
  border: 1px solid #fec500;
  background-color: #fec500;
}

.fixed-box {
  background-color: #070707;
  -webkit-box-shadow: -2px 5px 49px 11px rgba(0, 0, 0, 0.7);
          box-shadow: -2px 5px 49px 11px rgba(0, 0, 0, 0.7);
  position: fixed !important;
  top: 0;
}

.link-box {
  margin: 20px 0;
}

.link-box a {
  padding: 10px 20px;
  position: relative;
  font-size: 16px;
  background-color: #070707;
  color: white;
  font-weight: 500;
  border-radius: 50px;
}

.link-box a i {
  padding: 0 6px;
  font-size: 12px;
}

.link-box a:hover {
  background-color: #fec500;
  color: #070707;
}

.owl-carousel {
  margin: 30px 0;
}

.owl-carousel:hover .owl-nav {
  opacity: 1;
}

.owl-carousel .owl-nav {
  opacity: 0;
}

.owl-carousel .owl-nav button {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.owl-carousel .owl-nav button:focus {
  outline: none;
}

.owl-carousel .owl-nav button.owl-prev {
  left: -80px;
}

.owl-carousel .owl-nav button.owl-next {
  right: -80px;
}

.owl-carousel .owl-nav button i {
  font-size: 24px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid #999999;
  color: #999999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.owl-carousel .owl-nav button i:hover {
  color: #070707;
  border-color: #fec500;
  background-color: #fec500;
}

.product-box {
  position: relative;
}

.product-box .img-box {
  border: 1px solid rgba(153, 153, 153, 0.3);
  text-align: center;
  position: relative;
  overflow: hidden;
}

.product-box .img-box:hover img:last-of-type {
  opacity: 1 !important;
}

.product-box .img-box:hover .icon-box a i {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.product-box .img-box .icon-box {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  max-width: 31%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 333;
}

.product-box .img-box .icon-box a {
  margin: 3px;
  -webkit-box-flex: 40%;
      -ms-flex: 40%;
          flex: 40%;
}

.product-box .img-box .icon-box a i {
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  font-size: 22px;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  background-color: #3d3d3d;
  border-radius: 50%;
  -webkit-transition: opacity 0.6s linear, background-color 0.4s ease-in-out, color 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  transition: opacity 0.6s linear, background-color 0.4s ease-in-out, color 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  transition: opacity 0.6s linear, transform 0.4s ease-in-out, background-color 0.4s ease-in-out, color 0.4s ease-in-out;
  transition: opacity 0.6s linear, transform 0.4s ease-in-out, background-color 0.4s ease-in-out, color 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

.product-box .img-box .icon-box a i:hover {
  background-color: #fec500;
  color: #070707;
}

.product-box .img-box .new-span {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 12px;
  color: #070707;
  font-weight: 400;
  z-index: 22;
}

.product-box .img-box img {
  margin: 0 auto;
  width: 285px;
}

.product-box .img-box img:last-of-type {
  position: absolute;
  opacity: 0;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
}

.product-box .product-name-link {
  margin: 10px auto 2px;
  display: block;
  text-align: center;
}

.product-box .product-name-link .product-name {
  font-size: 16px;
  color: black;
  font-weight: 500;
}

.product-box .rat-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product-box .rat-ul li {
  margin: 0 2px;
}

.product-box .rat-ul li i {
  cursor: pointer;
  font-size: 14px;
  color: #999999;
}

.product-box .price-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product-box .price-box .min-price {
  font-size: 22px;
  font-weight: 600;
  margin: 0 4px;
  color: black;
}

.product-box .price-box .dics-price {
  font-size: 16px;
  color: red;
  font-weight: 400;
  margin: 4px 2px;
}

.product-box .price-box .dics-price2 {
  font-size: 20px;
  color: #999999;
  font-weight: 500;
  margin: 2px;
  text-decoration: line-through;
}

.nav-section {
  position: relative;
  z-index: 22;
  width: 100%;
}

.nav-section:hover {
  background-color: black;
}

.nav-section .logo-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.nav-section .nav-ul ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

.nav-section .nav-ul ul li.has-chiled {
  margin: 0 20px;
  padding: 35px 5px;
  cursor: pointer;
  position: relative;
}

.nav-section .nav-ul ul li.has-chiled:hover::after {
  top: 33%;
  opacity: 1;
}

.nav-section .nav-ul ul li.has-chiled:hover a {
  color: #fec500;
}

.nav-section .nav-ul ul li.has-chiled::after {
  opacity: 0;
  content: "";
  top: 20%;
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: white;
  left: 0;
}

html[dir="rtl"] .nav-section .nav-ul ul li.has-chiled::after {
  left: unset;
  right: 0;
}

.nav-section .nav-ul ul li a {
  font-size: 18px;
  font-family: "Oswald", sans-serif;
  color: white;
}

.nav-section .nav-box2 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-section .nav-box2 .nav-side-box {
  cursor: pointer;
  margin: 0 15px;
  position: relative;
}

.nav-section .nav-box2 .nav-side-box:last-of-type {
  margin: 0 30px 0 10px;
}

.nav-section .nav-box2 .nav-side-box i {
  color: white;
  font-size: 16px;
}

.nav-section .nav-box2 .nav-side-box.shopping-box .cart-products-count {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 16px;
  position: absolute;
  right: -7px;
  top: -5px;
  width: 16px;
  color: black;
  z-index: 1;
  font-size: 12px;
  border-radius: 50%;
  background-color: #fec500;
}

.intro-section {
  margin: -98px 0 0;
}

.intro-section .intro-slider:hover .circle-arrow {
  opacity: 1;
}

.intro-section .intro-slider:hover .circle-arrow.devo-left {
  left: 50px;
}

.intro-section .intro-slider:hover .circle-arrow.devo-right {
  right: 50px;
}

.intro-section .intro-slider .circle-arrow {
  position: absolute;
  top: 50%;
  opacity: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 99;
}

.intro-section .intro-slider .circle-arrow.devo-left {
  left: 70px;
}

.intro-section .intro-slider .circle-arrow.devo-right {
  right: 70px;
}

.intro-section .intro-slider .circle-arrow i {
  font-size: 20px;
  height: 60px;
  border-radius: 50%;
  padding: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  width: 60px;
  cursor: pointer;
  color: black;
}

.intro-section .intro-slider .circle-arrow i:hover {
  background-color: #fec500;
}

.about-section {
  margin: -5px 0 0;
}

.about-section .side-box {
  background-color: #3d3d3d;
  padding: 100px 50px 100px 200px;
}

.about-section .section-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 107%;
  height: 100%;
  position: relative;
}

.about-section .section-img:hover {
  background-size: 115%;
}

.about-section .section-img .img-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.beauty-section .beauty-slider .slick-center .beauty-slider-item::after {
  opacity: 0;
}

.beauty-section .beauty-slider .slick-center .beauty-slider-item .sub-title {
  color: white;
}

.beauty-section .beauty-slider .slick-center .beauty-slider-item .beauty-ul li {
  color: white;
}

.beauty-section .beauty-slider .slick-center .beauty-slider-item .beauty-ul li:after {
  background-color: white;
}

.beauty-section .beauty-slider .slick-center .beauty-slider-item .link-box a {
  background-color: #fec500;
  color: #070707;
}

.beauty-section .beauty-slider .beauty-slider-item {
  padding: 150px 20px;
  text-align: center;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

.beauty-section .beauty-slider .beauty-slider-item:hover::after {
  opacity: 0;
}

.beauty-section .beauty-slider .beauty-slider-item:hover .sub-title {
  color: white;
}

.beauty-section .beauty-slider .beauty-slider-item:hover .beauty-ul li {
  color: white;
}

.beauty-section .beauty-slider .beauty-slider-item:hover .beauty-ul li:after {
  background-color: white;
}

.beauty-section .beauty-slider .beauty-slider-item:hover .link-box a {
  background-color: #fec500;
  color: #070707;
}

.beauty-section .beauty-slider .beauty-slider-item::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  background-color: white;
  z-index: -1;
  opacity: 1;
}

.beauty-section .beauty-slider .beauty-slider-item .beauty-slider-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.beauty-section .beauty-slider .beauty-slider-item .beauty-title {
  font-family: "Sacramento", cursive;
  color: #fec500;
  font-size: 40px;
  margin: 0;
}

.beauty-section .beauty-slider .beauty-slider-item .sub-title {
  margin: 0;
  font-weight: 700;
  font-size: 38px;
  color: #3d3d3d;
}

.beauty-section .beauty-slider .beauty-slider-item .beauty-ul {
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.beauty-section .beauty-slider .beauty-slider-item .beauty-ul li {
  font-size: 18px;
  font-weight: 500;
  padding: 0 10px;
  margin: 0 20px;
  position: relative;
  color: #3d3d3d;
}

.beauty-section .beauty-slider .beauty-slider-item .beauty-ul li:first-of-type::after {
  display: none;
}

.beauty-section .beauty-slider .beauty-slider-item .beauty-ul li::after {
  content: "";
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #3d3d3d;
  left: 0;
}

html[dir="rtl"] .beauty-section .beauty-slider .beauty-slider-item .beauty-ul li::after {
  left: unset;
  right: 0;
}

.ready-section {
  background-position: 50% 47.653%;
  background-repeat: no-repeat;
  padding: 150px 0;
  background-attachment: fixed;
}

.ready-section .section-title .prag {
  color: white;
  font-weight: 600;
  width: 70%;
}

.best-saling-section {
  padding: 40px 0;
}

.best-saling-section .section-title {
  text-align: center;
}

.best-saling-section .list-group {
  margin: 20px 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.best-saling-section .list-group .list-group-item {
  background-color: transparent;
  border: 0;
  width: unset;
  color: #070707;
  padding: 4px 28px;
  display: inline-block;
  text-align: center;
  border-radius: 50px;
  font-weight: 500;
  font-size: 16px;
}

.best-saling-section .list-group .list-group-item.active {
  background-color: #fec500;
}

.best-saling-section .tab-content .tab-pane {
  opacity: 0;
}

.best-saling-section .tab-content .tab-pane.active {
  opacity: 1;
}

.best-saling-section .banner-img {
  padding: 40px 0;
}

.best-saling-section .banner-img a {
  margin: 3px 0;
  display: block;
  position: relative;
}

.best-saling-section .banner-img a:after {
  border: 8px solid rgba(255, 255, 255, 0.1);
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.comment-section {
  margin: 40px 0;
  padding: 80px 0;
  background-color: #3d3d3d;
}

.comment-section .comment-slider .slick-dots li {
  width: 15px;
}

.comment-section .comment-slider .slick-dots li button {
  width: 15px;
  height: 15px;
}

.comment-section .comment-slider .slick-dots li button:before {
  width: 15px;
  height: 15px;
  border-radius: 50px;
  content: "";
  background-color: #fec500;
}

.comment-section .comment-slider .slick-dots li.slick-active {
  width: 30px;
}

.comment-section .comment-slider .slick-dots li.slick-active button {
  width: 30px;
}

.comment-section .comment-slider .slick-dots li.slick-active button:before {
  width: 30px;
}

.comment-section .comment-slider .comment-slider-item {
  width: 50% !important;
  margin: 0 auto !important;
  text-align: center;
  display: block !important;
}

.comment-section .comment-slider .comment-slider-item .comment-img {
  text-align: center !important;
}

.comment-section .comment-slider .comment-slider-item .comment-img img {
  margin: 0 auto;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  border: 5px solid #dedede;
}

.comment-section .comment-slider .comment-slider-item .comment-name {
  font-size: 22px;
  color: white;
  font-weight: 600;
  margin: 10px 0 20px;
}

.comment-section .comment-slider .comment-slider-item .user-designation {
  font-size: 18px;
  color: white;
  font-weight: 400;
  margin: 0 0 20px;
}

.comment-section .comment-slider .comment-slider-item .prag {
  color: white;
  font-size: 18px;
  margin: 10px 0 0;
}

.blog-section .section-title {
  text-align: center;
}

.blog-section .blog-slider .item .blog-box:hover .img-box .bloge-link i {
  opacity: 1;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
          transform: translateX(-50%) translateY(-50%) scale(1);
}

.blog-section .blog-slider .item .blog-box .img-box .bloge-link {
  position: relative;
  display: block;
}

.blog-section .blog-slider .item .blog-box .img-box .bloge-link i {
  position: absolute;
  top: 50%;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
  opacity: 0;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(1.3);
          transform: translateX(-50%) translateY(-50%) scale(1.3);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid white;
  color: white;
}

.blog-section .blog-slider .item .blog-box .blog-title {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  color: #070707;
  padding: 8px 0;
}

.blog-section .blog-slider .item .blog-box .blog-title:hover {
  color: #fec500;
}

.blog-section .blog-slider .item .blog-box .prag {
  font-size: 16px;
  color: #999999;
  font-weight: 500;
  width: 99%;
  margin: 0 0 10px 0;
}

.blog-section .blog-slider .item .blog-box .read-link {
  font-size: 14px;
  color: #070707;
  font-weight: 400;
}

.blog-section .blog-slider .item .blog-box .read-link i {
  padding: 0 4px;
  font-size: 12px;
}

.blog-section .blog-slider .item .blog-box .read-link:hover {
  color: #fec500;
}

.blog-section .blog-slider .item .blog-box .read-link:hover i {
  color: #fec500;
  padding: 0 8px;
}

.newsletter-section {
  background-image: url("../img/footer-top.jpg");
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  margin: 40px 0 0;
}

.newsletter-section .newsletter-box {
  text-align: center;
}

.newsletter-section .newsletter-box .icone-box i {
  font-size: 40px;
  color: white;
}

.newsletter-section .newsletter-box .newsletter-title {
  font-size: 30px;
  font-weight: 400;
  font-family: "Oswald", sans-serif;
  color: white;
  margin: 10px 0;
}

.newsletter-section .newsletter-box .prag {
  color: white;
  font-size: 16px;
  font-weight: 400;
}

.newsletter-section .newsletter-box .newsletter-from .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 50px;
  overflow: hidden;
  background-color: white;
  width: 50%;
  margin: 0 auto;
}

.newsletter-section .newsletter-box .newsletter-from .form-group input {
  padding: 10px 20px;
  width: 100%;
  border: 0;
  font-weight: 500;
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  max-width: 100%;
}

.newsletter-section .newsletter-box .newsletter-from .form-group .submit-button {
  background-color: #fec500;
  color: #070707;
  font-size: 16px;
  padding: 5px 28px;
  border-radius: 0;
  text-transform: capitalize;
  border: none;
  border-radius: 22px;
  font-family: "Raleway", sans-serif;
}

.footer-section {
  padding: 60px 0 0;
  background-color: #111010;
}

.footer-section .footer-title {
  font-size: 26px;
  font-weight: 300;
  color: white;
  margin: 0 39px 20px;
}

.footer-section .footer-ul {
  margin: 0;
  display: block;
}

.footer-section .footer-ul.footer-contact li {
  display: block;
  width: 100%;
}

.footer-section .footer-ul.footer-contact li .data i {
  font-size: 13px;
  padding: 0 3px;
}

.footer-section .footer-ul.footer-contact li .data .title {
  display: none;
}

.footer-section .footer-ul li {
  float: left;
  width: 50%;
  list-style: none;
  margin: 2px 0;
  font-weight: 600;
  font-size: 16px;
  color: #999999;
}

.footer-section .footer-ul li:hover {
  color: white;
}

.footer-section .footer-ul li a {
  color: #999999;
}

.footer-section .footer-ul li a:hover {
  color: white;
}

.footer-section .insta-box {
  padding: 60px 0 0;
  text-align: center;
}

.footer-section .insta-box a {
  color: white;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase !important;
  position: relative;
  z-index: 2;
  z-index: 1;
  margin: 0 auto;
  padding: 30px 0 0;
}

.footer-section .insta-box a:after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 30px;
  height: 30px;
  background-image: url("../img/instagram.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.copy-footer {
  padding: 20px 0;
  background-color: #070707;
}

.copy-footer .copy-link {
  color: #999999;
  margin: 0 39px 0;
}

.copy-footer .copy-link:hover {
  color: white;
}

.copy-footer .sochile-box ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0;
}

.copy-footer .sochile-box ul li {
  margin: 0 10px;
  -webkit-filter: grayscale(4);
          filter: grayscale(4);
}

.copy-footer .sochile-box ul li:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}
/*# sourceMappingURL=style.css.map */